body {
  padding-top: 20px;
  font-family: verdana;
}

/* EmailBlock */
email-block {
  float: left;
}

.chip {
  display: inline-block;
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 9px;
  margin: 7px 0px 0px 8px;
  text-align: center;
}

.chip.valid {
  border-radius: 15px;
  background-color: #D9E8FF;
}

.chip.invalid {
  border-bottom: 2px dotted #d14836;
  height: 22px;
}

.chipDelete {
  display: inline-block;
}

.chipDelete:after {
  content: '✖';
  cursor: pointer;
  margin-left: 1px;
}

.chipContent {
  display: inline-block;
  vertical-align: sub;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

/* EmailInput */
emails-input {
  float: left;
}

.chipsInput {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  resize: none;
  padding: 0px;

  margin: 7px 0px 0px 8px;

  font-size: 12px;
  font-family: verdana;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.shareEditor {
  width: 500px;
  height: 220px;
  padding:20px 40px 20px 40px;
  background-color: #F5F5F5;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*EmailsEditor*/
.emailsEditor {
  display: block;
  background-color: white;
  border-top-color: #CCCCCC;
  border-top-style: solid;
  border-top-width: 1px;
  width: auto;
  height: 99px;
  overflow: auto;
}

.emailsEditorTitle {
  height: 20px;
  margin-top: 13px;
  margin-bottom: 37px;
  font-family: sans-serif;
  font-size: larger;
}

/* ExampleForm */
emails-editor-example {
  float: left;
}

emails-editor-example > button {
  background-color: #6699FF;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 30px;
}

emails-editor-example > :nth-child(2) {
  margin-left: 40px;
}

emails-editor-example > :nth-child(3) {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
