<div class="shareEditor">
  <div class="emailsEditorTitle">
    <span>Share "{{$ctrl.boardName}}" with others</span>
  </div>
  <emails-editor emails="$ctrl.emails"></emails-editor>
</div>
<button ng-click="$ctrl.addEmails()">Add email</button>
<button ng-click="$ctrl.getEmailsCount()">Get emails count</button>
